.tour-card {
    display: grid;
    grid-template-rows: repeat(2, 15rem) 10rem;
    background-color: $color-white;
    color: $color-grey-dark-2;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    grid-row-gap: 7rem;
    &__header {
        position: relative;
    }
    &__heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 300;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 70%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85));
        -webkit-box-decoration-break: clone;
    }
    &__container {
        margin: 0 3rem;
        font-size: 1.2rem;
        &--heading {
            font-weight: 700;
            text-transform: uppercase;
        }
        &--description {
            font-weight: 300;
            font-style: italic;
        }
        &--info {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
        }
    }
    &__footer {
        background-color: $color-grey-light-1;
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--left {
            font-size: 2rem;
            h6 {
                width: 10rem;
                display: flex;
                justify-content: space-between;
            }
            p {
                font-weight: 300;
            }
        }
    }
}

.btn--details {
    font-size: 1.2rem;
    padding: 1.5rem;
}

.info__element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &--logo {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
        margin-right: 1rem;
    }
    h6 {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.tour-card__picture {
    background-size: cover;
    height: 23rem;
    // background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#tour-card__picture {
    &--1 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-1-cover.jpg);
    }
    &--2 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-2-cover.jpg);
    }
    &--3 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-3-cover.jpg);
    }
    &--4 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-4-cover.jpg);
    }
    &--5 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-5-cover.jpg);
    }
    &--6 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-6-cover.jpg);
    }
    &--7 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-7-cover.jpg);
    }
    &--8 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-8-cover.jpg);
    }
    &--9 {
        background-image: linear-gradient( rgba($color-primary, 0.75), rgba($color-primary, 0.75)), url(../images/background-tour-images/tour-9-cover.jpg);
    }
}